@{
    Page.Title = "Registration";
    Layout = "~/Shared/_SiteLayout.cshtml";

    var message = string.Empty;

    if (IsPost)
    {
        var username = Request.Form["username"];
        var password = Request.Form["password"];
        var email = Request.Form["email"];

        if (string.IsNullOrEmpty(username) || string.IsNullOrEmpty(password) || string.IsNullOrEmpty(email))
        {
            message = "None of the fields can be empty!";
        }
        else
        {
            try
            {
                AccountRepository.Add(username, Crypto.HashPassword(password), email);
                Response.Redirect("~/Login");
            }
            catch
            {
                message = "Username already taken!";
            }
        }


    }
}

<div class="centered">
    <form name="login" method="post">
        <p>
            <label for="username">Username:</label><br />
            <input type="text" id="username" name="username" />
        </p>
        <p>
            <label for="email">Email:</label><br />
            <input type="text" id="email" name="email" />
        </p>
        <p>
            <label for="password">Password:</label><br />
            <input type="password" id="password" name="password" />
        </p>
        <p><input type="submit" value="Register" /></p>
        <div class="error">@message</div>
    </form>
</div>