html {
    position: relative;
    min-height: 100%;
}

header {
    
}

#mainNav {
    opacity: 0.85;
    transition: 0.2s;
}

#mainNav:hover {
    opacity: 1;
}

body {
    /* Margin bottom by footer height */
    margin-top: 50px;
    margin-bottom: 40px;
    background-image: url('bg_main.png');
    background-attachment:fixed;
    background-size: 100% 100%;
}

.centered {
    text-align:center;
}

.grid {
    margin: auto;
    background-color: dimgrey;
    border: 1px solid white;
    transition: 0.2s;
    color: white;
}

.grid:hover {
    box-shadow: 0 0 10px 5px rgba(255,255,255,0.5);
    border-color: blueviolet;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
    background-color: #424242;
    text-align: center;
    color: red;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: lightgrey;
    text-decoration: underline;
}

#submit {
    transition: 0.2s;
    border: solid 1px white;
}

#submit:hover {
    box-shadow: 0 0 10px 5px rgba(255,255,255,0.5);
    border-color: blueviolet;
}

